{% extends 'layout.html' %}

    {% block body %}

            <div class="container">
                <p>
                <div class="w-100 bg-light text-center p-1 mb-5">
                    <br>
                    This is a final project of <a href="https://pll.harvard.edu/course/cs50s-introduction-programming-python" target="_blank">CS50P</a> from Harvard University. A very interesting course, which will bring a lot of knowledge and joy to your life.
                    <br><br>
                    Super Recommended!
                    <br><br><br>
                    Marcelle Da Silva Teixeira Pinheiro - <a href="https://www.linkedin.com/in/marcellepinheiro/" target="_blank">LinkedIn</a> - <a href="mailto:marcellestp@gmail.com">Email</a>
                    <p>
                    Waldirio Manhaes Pinheiro - <a href="https://www.linkedin.com/in/waldirio/" target="_blank">LinkedIn</a> - <a href="mailto:waldirio@gmail.com">Email</a>
                </div>

    {% endblock %}
